<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
  <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:theme="@style/AppTheme" android:supportsRtl="true" android:enableOnBackInvokedCallback="false" android:fullBackupContent="@xml/secure_store_backup_rules" android:dataExtractionRules="@xml/secure_store_data_extraction_rules">
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="true"/>
    <meta-data android:name="expo.modules.updates.ENABLE_BSDIFF_PATCH_SUPPORT" android:value="true"/>
    <meta-data android:name="expo.modules.updates.EXPO_RUNTIME_VERSION" android:value="@string/expo_runtime_version"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="NEVER"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="https://u.expo.dev/79d32e8c-6d52-4969-86dd-17f12531558e"/>
    <service android:name="com.reactnativeandroidwidget.RNWidgetCollectionService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
    <activity android:name=".MainActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode|smallestScreenSize|assetsPaths" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:exported="true" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="etffinance"/>
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
    </activity>
    <activity android:name=".WidgetConfigurationActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
      </intent-filter>
    </activity>
    <activity-alias android:name=".Icon01" android:enabled="true" android:exported="true" android:icon="@drawable/etf_icon_01" android:targetActivity=".MainActivity" android:label="ETF財務管家">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
    </activity-alias>
    <activity-alias android:name=".Icon02" android:enabled="false" android:exported="true" android:icon="@drawable/etf_icon_02" android:targetActivity=".MainActivity" android:label="ETF財務管家">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
    </activity-alias>
    <activity-alias android:name=".Icon03" android:enabled="false" android:exported="true" android:icon="@drawable/etf_icon_03" android:targetActivity=".MainActivity" android:label="ETF財務管家">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
    </activity-alias>
    <activity-alias android:name=".Icon04" android:enabled="false" android:exported="true" android:icon="@drawable/etf_icon_04" android:targetActivity=".MainActivity" android:label="ETF財務管家">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
    </activity-alias>
    <activity-alias android:name=".Icon05" android:enabled="false" android:exported="true" android:icon="@drawable/etf_icon_05" android:targetActivity=".MainActivity" android:label="ETF財務管家">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
    </activity-alias>
    <activity-alias android:name=".Icon06" android:enabled="false" android:exported="true" android:icon="@drawable/etf_icon_06" android:targetActivity=".MainActivity" android:label="ETF財務管家">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
    </activity-alias>
    <activity-alias android:name=".Icon07" android:enabled="false" android:exported="true" android:icon="@drawable/etf_icon_07" android:targetActivity=".MainActivity" android:label="ETF財務管家">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
    </activity-alias>
    <activity-alias android:name=".Icon08" android:enabled="false" android:exported="true" android:icon="@drawable/etf_icon_08" android:targetActivity=".MainActivity" android:label="ETF財務管家">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
    </activity-alias>
    <activity-alias android:name=".Icon09" android:enabled="false" android:exported="true" android:icon="@drawable/etf_icon_09" android:targetActivity=".MainActivity" android:label="ETF財務管家">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
    </activity-alias>
    <activity-alias android:name=".Icon10" android:enabled="false" android:exported="true" android:icon="@drawable/etf_icon_10" android:targetActivity=".MainActivity" android:label="ETF財務管家">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
    </activity-alias>
    <receiver android:name=".widget.ETFProfit" android:exported="false" android:label="ETF財務管家 即時損益">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
        <action android:name="com.etfpilot.twselive.WIDGET_CLICK"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/widgetprovider_etfprofit"/>
    </receiver>
  </application>
</manifest>